<mat-list>
    <mat-list-item>Usuario: <b>{{username}}</b></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>Roles:</mat-list-item>
    <mat-list-item *ngFor="let item of roles">{{item}}</mat-list-item>
  </mat-list>
