<router-outlet></router-outlet>

<br><br>
<div class="mat-elevation-z8" [hidden]="hide" [hidden]="validateRoute()">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="idSignos">
        <th mat-header-cell *matHeaderCellDef> idSignos </th>
        <td mat-cell *matCellDef="let element"> {{element.idSigno}} </td>
      </ng-container>

      <ng-container matColumnDef="temperatura">
        <th mat-header-cell *matHeaderCellDef> temperatura </th>
        <td mat-cell *matCellDef="let element"> {{element.temperatura}} </td>
      </ng-container>

      <ng-container matColumnDef="pulso">
        <th mat-header-cell *matHeaderCellDef> pulso </th>
        <td mat-cell *matCellDef="let element"> {{element.pulso}} </td>
      </ng-container>

      <ng-container matColumnDef="ritmo">
        <th mat-header-cell *matHeaderCellDef> ritmo </th>
        <td mat-cell *matCellDef="let element"> {{element.ritmo}} </td>
      </ng-container>

      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> fecha </th>
        <td mat-cell *matCellDef="let element"> {{element?.fecha | date:'mediumDate' }} </td>
      </ng-container>

      <ng-container matColumnDef="paciente">
        <th mat-header-cell *matHeaderCellDef> paciente </th>
        <td mat-cell *matCellDef="let element"> {{element.paciente.nombres}} </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> acciones </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" [routerLink]="['edicion', element.idSigno]">
            <mat-icon>ballot</mat-icon>
        </button>
        <button mat-button color="primary" (click)="eliminar(element.idSigno)">
            <mat-icon>delete</mat-icon>
        </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[ 10, 20]"
    showFirstLastButtons   [length]="cantidad" (page)="mostrarMas($event)"
    aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

<button mat-fab color="accent" style="float: right" (click)="mostrarEdicion()">
  <mat-icon>add</mat-icon>
</button>

