

<div>
    <h1>Signos Vitales</h1>

    <form class="example-form"  #frmPaciente="ngForm" (ngSubmit)="guardar()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Seleccionar Paciente</mat-label>
          <input  [(ngModel)]="signo.paciente" name="pacientet" type="text"
                 placeholder="Pick one"
                 aria-label="Number"
                 matInput
                 [formControl]="pacienteFormControl"
                 [matAutocomplete]="auto" required>
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  [displayWith]="mostrarPaciente">
            <mat-option *ngFor="let paciente of listarPaciente$ | async" [value]="paciente">
              {{paciente.nombres}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha</mat-label>
          <input [(ngModel)]="signo.fecha" name="fecha" matInput [matDatepicker]="picker" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Temperatura</mat-label>
          <input required [(ngModel)]="signo.temperatura" name="temperatura" matInput placeholder="Temperatura" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>pulso</mat-label>
          <input required [(ngModel)]="signo.pulso" name="pulso" matInput placeholder="Pulso" >
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Ritmo</mat-label>
          <input required [(ngModel)]="signo.ritmo" name="ritmo" matInput placeholder="Ritmo" >
        </mat-form-field>

        <button mat-raised-button [routerLink]="['/pages/signos']" routerLinkActive="router-link-active"  >Cancelar</button>
        <button mat-raised-button color="primary" type="submit"  [disabled]="frmPaciente.invalid" >Guardar</button>
      </form>
      
</div>
